:root {
    /*LIGHT MODE*/
    --color-text-very-dark-blue: hsl(200, 15%, 8%);
    --color-input-dark-gray: hsl(0, 0%, 52%);
    --color-background-very-light-gray: hsl(0, 0%, 95%);
    --color-white: hsl(0, 0%, 100%);
    --box-shadow-light: 0px 3px 8px -2px hsl(200, 0%, 68%);
    --gradient-light: hsl(0, 0%, 90%);
    --country-border-shadow-light: 0px 0px 4px -1px hsl(200, 0%, 68%);

    /*DARK MODE*/
    --color-background-very-dark-blue: hsl(207, 26%, 17%);
    --color-dark-mode-elements-dark-blue: hsl(209, 23%, 22%);
    --box-shadow-dark: 0px 3px 8px -2px hsl(0, 0%, 2%);
    --gradient-dark: hsl(0, 0%, 14%);
    --country-border-shadow-dark: 0px 0px 6px -1px hsl(0, 0%, 2%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --primary-color: var(--color-text-very-dark-blue);
    --primary-bg-color: var(--color-background-very-light-gray);
    --primary-shadow: var(--box-shadow-light);
    --primary-gradient: var(--gradient-light);
    --secondary-bg-color: var(--color-white);
    --country-border-shadow: var(--country-border-shadow-light);

    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
}

/* LIGHT MODE */
body.light {
    --primary-color: var(--color-text-very-dark-blue);
    --primary-bg-color: var(--color-background-very-light-gray);
    --primary-shadow: var(--box-shadow-light);
    --primary-gradient: var(--gradient-light);
    --secondary-bg-color: var(--color-white);
    --country-border-shadow: var(--country-border-shadow-light);
}

/* DARK MODE */
body.dark {
    --primary-color: var(--color-white);
    --primary-bg-color: var(--color-background-very-dark-blue);
    --primary-shadow: var(--box-shadow-dark);
    --primary-gradient: var(--gradient-dark);
    --secondary-bg-color: var(--color-dark-mode-elements-dark-blue);
    --country-border-shadow: var(--country-border-shadow-dark);
}

/* @media (prefers-color-scheme: dark) {
    body {
        --primary-color: var(--color-white);
        --primary-bg-color: var(--color-background-very-dark-blue);
        --primary-shadow: var(--box-shadow-dark);
        --primary-gradient: var(--gradient-dark);
        --secondary-bg-color: var(--color-dark-mode-elements-dark-blue);
        --country-border-shadow: var(--country-border-shadow-dark);
    }

    body header button [name="moon"] {
        display: initial;
    }
    
    body header button [name="moon-outline"] {
        display: none;
    }
} */

header {
    background-color: var(--secondary-bg-color);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 28px;
}

header button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    gap: 0.5em;
    align-items: center;
}

/* 
    light - moon ukryty, a moon-outline widoczny
    dark -  moon widoczny, a moon-outline ukryty
*/
header button [name="moon"] {
    display: none;
}

body.light header button [name="moon"] {
    display: none;
}

body.light header button [name="moon-outline"] {
    display: initial;
}

body.dark header button [name="moon"] {
    display: initial;
}

body.dark header button [name="moon-outline"] {
    display: none;
}

hr {
    height: 8px;
    background: linear-gradient(var(--primary-gradient), transparent);
    border: none;
}

.search {
    position: relative;
}

.search [name="search-outline"] {
    position: absolute;
    left: 1em;
    top: 1em;
}

.search input[type='text'] {
    padding: 1em 1em 1em 3em;
    width: 18em;
}

input[type='text'],
select {
    background-color: var(--secondary-bg-color);
    border: none;
    color: var(--primary-color);
    padding: 1em 2em;
    box-shadow: var(--primary-shadow);
    border-radius: 3px;
}

button {
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.filters,
.header-content,
main {
    max-width: 1440px;
    margin: 0 auto;  /* auto jako wyśrodkowanie w poziomie */
    padding-left: 40px;
    padding-right: 40px;
}

.filters {
    display: none;
}
.filters.active {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

main {
    padding-top: 32px;
    padding-bottom: 32px;
}

ul {
    display: grid; /* grid nadajemy rodzicowi, czyli ul */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    gap: 60px;
}

li {
    border-radius: 8px;
    overflow: hidden; /* ukrywa to, co wystaje ponad diva */
    box-shadow: var(--primary-shadow);
    background-color: var(--secondary-bg-color);
}

li img {
    width: 100%;
}

.info-container {
    padding: 30px 20px;
}

.country-name {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;

}

.shadow-button {
    box-shadow: var(--primary-shadow);
    border-radius: 3px;
    display: inline-block;
    padding: 0.25em 1em;
    margin: 0 0.25em;
    text-decoration: none;
}

.border-countries strong {
    margin-right: .75em;
}

.border-countries .shadow-button {
    box-shadow: var(--country-border-shadow);
}

.detail-back-link {
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    width: fit-content;
}
.detail-name {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
}

.detail-container .info-content {
    column-count: 2;
    column-fill: auto;
    height: 8em;
}

@media only screen and (max-width: 960px) {
    ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 520px) {
    ul {
        grid-template-columns: 1fr;
    }

    .filters.active {
        display: block;
    }

    .search input[type='text'] {
        width: 100%;
        margin-bottom: 1em;
    }

    .detail-container {
        display: grid;
        grid-template-columns: none;
        gap: 2.5em;
        margin-top: 2.5em;
    }

    .detail-container img {
        width: 100%;
    }
    .detail-container .info-content {
        line-height: 2.25em;
        column-count: auto;
        height: auto;
        margin-bottom: 1.7em;
    }

    .border-countries strong {
        margin-right: 0;
        margin-bottom: 1em;
        display: block;
      }
}


/* DISCOURAGED APPROACH */
/* body.dark input[type='text'],
select {
    background-color: var(--color-dark);
} */

/* PREFERRED APPROACH */
/* Use more generic var name e.g. --color-primary */
/* body.dark {
    --color-white: hsl(0, 0%, 14%);
} */
